entity-mapping-subview:not(.oj-complete){
  visibility: hidden;
}

entity-mapping-subview{
	min-height: 50px;
	width: 50px;
}

.myClass {
	background-color: red;

  }
  #entityloader{
	position: absolute;
	left: 57%;
	margin-top: 25%;
	width: 70px;
	height: 70px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #dce6ea;
	border-right: 16px solid #dce6ea;
	border-bottom: 16px solid #0f758e;
  }